.header {
  background-color: #4a90e2;
  height: 64px;
  width: 100%;
}

.header__content {
  max-width: 1024px;
  height: inherit;
  margin: 0 auto;
  display: flex;
  padding: 0 42px;
  align-items: center;
  justify-content: space-between;
}

.header__content__logo {
  max-width: 100%;
  height: auto;
}

.header__content__profile {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
}
